h1,
h2,
label,
input {
    font-family: 'Roboto Condensed', sans-serif;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.itemContainer {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#add {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#radio {
    width: 75%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}